body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:#0f172a;
}

.login-box{

    width:350px;
    background:#1e293b;

    padding:40px;

    margin:120px auto;

    border-radius:10px;

    text-align:center;

    color:white;
}

input{

    width:100%;

    padding:12px;

    margin-top:15px;

    border:none;

    border-radius:5px;
}

button{

    width:100%;

    padding:12px;

    margin-top:20px;

    border:none;

    border-radius:5px;

    background:#38bdf8;

    color:white;

    font-size:16px;

    cursor:pointer;
}

button:hover{

    background:#0284c7;
}
.dashboard{

    width:80%;

    margin:auto;

    padding:30px;

    color:white;
}

select{

    width:100%;

    padding:12px;

    margin-top:15px;

    border:none;

    border-radius:5px;
}
.vehicle-box{

    display:flex;

    flex-direction:row;

    gap:10px;

    align-items:center;

    margin-top:20px;
}
.vehicle-box input{

    width:80px;

    padding:12px;

    text-align:center;

    font-size:18px;

    text-transform:uppercase;
}
#number{
    width:120px;
}